/* SVG Styles */
.flat {margin-left:10px;width:4px;height:4px;background:#aaa;}
.fullMerge { margin-left:8px;width:10px;height:10px;background:#ccc; -moz-border-radius:5px;-webkit-border-radius:5px; border-radius:5px; }
.commit { width:24px;height:16px; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }
.line {border-left: 2px solid #aaa;height: 16px;margin-left: 11px;margin-right: 11px;}

.prune { fill:#f00; }
.fade { fill:#777; }
.headCell { fill: #5b5; font-weight: bold; font-size: 11px; }
.tag path { stroke: #333; stroke-width: 1px; fill: none; opacity: 0.5; }
.cmplx path { stroke: #000; stroke-width: 1px; fill: none;  opacity: 0.2;}
.link path { stroke: #aaa; stroke-width: 1px; fill: none;  opacity: 1;}
path:hover { stroke: #000; stroke-width: 2px; fill: none;  opacity: 1;}
path { stroke: #aaa; stroke-width: 1px; fill: none; }
#arrow path { stroke: #000; stroke-width: 1px; fill: #000; }
svg{border:none;overflow:visible}
text { font-weight: 300; font-family: Helvetica, Arial, sans-serf; font-size: 10px; }
.paging { cursor:pointer; }
.node rect { stroke-width: 2px; stroke: #333; fill: #fff; opacity: 1; cursor:pointer;}
.merge circle { stroke-width: 2px; stroke: #bbb; fill: #fff; opacity: 1; cursor:pointer;}
.blink { animation: blink 1s steps(5) infinite; }
@keyframes blink {
    0%  { opacity:0.9 }
    50% { opacity:0.3 }
}

/* HTML styles */
body { background: #f7f7f7; }
p {font-size:12px;}
a, a:link, a:visited, a:hover, a:active {color: #000; text-decoration: underline; font-family: monospace; font-size:11px;}

#context-menu {
    top: 10px; left: 10px;
    position: absolute;
    z-index: 1999;
}

#controlHost {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 200px;
    background: #fff;
    box-shadow: 0 0 20px 0 #000;
}
#spacer { clear: both; height: 200px; }
.data {font-family: monospace; font-size:11px;}
#log { font-family: monospace; font-size: 11px; }
.logSuccess { background:#afa; }
.logFailure { background:#faa; }
.floatBox { float: left; height: 100px; width:20%; overflow-y: scroll; overflow-x: auto; margin: 0; padding: 10px; }